body{
    margin: 0;
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
}
h1{
    width:10%;
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cursive;
}
.top-container{
    background-color: #E4F9F5;
    width:200%;
    height:500px;
    position: relative;
    padding: 200px;
}
.top-cloud{
    position: absolute;
    
    top:20px;

}
.bottom-cloud{
    position: absolute;
    bottom:200px;
}